<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG">
    <test name="TestNG сценарии">
        <groups>
            <run>
            </run>
        </groups>
        <classes>
            <class name="com.github.dmitryalexeevi4.SeleniumHW1"/>
<!--            <class name="com.github.dmitryalexeevi4.SeleniumHW2"/>-->
<!--            <class name="com.github.dmitryalexeevi4.SeleniumHW3"/>-->
        </classes>
    </test>
</suite>